<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"

        android:name=".service.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher_blits"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_blits_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/Theme.BLITS"

        tools:targetApi="31">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".customer.EditProfile"
            android:exported="false" />
        <activity
            android:name=".assets.TermCondition"
            android:exported="false" />
        <activity
            android:name=".customer.OrderHistory"
            android:exported="false" />
        <activity
            android:name=".customer.Order"
            android:exported="false"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".driver.MainDriver"
            android:exported="false" />
        <activity
            android:name=".assets.OnBoard"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".customer.MainCustomer"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".access.SignUp"
            android:exported="false"
            android:theme="@style/AppThemeLogin"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".access.SignIn"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".assets.Splash"
            android:theme="@style/AppThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>